:root{
    --primary-color: #2C3E50;
    --secondary-color: #18BC9C; 
    --shadow-color: #BDC3C7; 
    --background-color: #ECF0F1; 
    --text-color: #34495E; 
    --border-color: #BDC3C7; 
    --button-hover-color: #2a554c;
    --button-hover-active: #1f312d;
    --lighter-text-color: #34495eab;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--background-color);
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
}

textarea {
    font-family: "Poppins", sans-serif;
}

h1 {
    padding: 2vh 0vw;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
}

fieldset {
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    margin: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--lighter-text-color);
    border-radius: 15px;
    padding: 20px;
}

form {
    margin: auto;
    border: none;
    border-radius: 15px;
    padding-bottom: 1px;
    box-shadow: 0px 2px 18px 7px var(--shadow-color);
    max-width: fit-content;
    margin-bottom: 10vh;
}

input, textarea {
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 6px;
}

#generate-button {
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 10px;
    padding: 1em;
    margin: 10px;
    background-color: white;
    color: var(--secondary-color);
    font-weight: 700;
    cursor: pointer;
}

#clear-button {
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 10px;
    padding: 1em;
    margin: 10px 0px 10px 10px;
    background-color: white;
    color: var(--secondary-color);
    font-weight: 700;
    cursor: pointer;
}

#generate-button:hover {
    background-color: var(--button-hover-color);
}

#generate-button:active {
    background-color: var(--button-hover-active);
}

#clear-button:hover {
    background-color: var(--button-hover-color);
}

#clear-button:active {
    background-color: var(--button-hover-active);
}

input {
    height: 20px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 6px;
}

legend, label {
    font-weight: bold;
}

#res-form {
    display: flex;
    flex-direction: column;
}

#image {
    border: none;
    color: darkblue;
}

/* Next Page Content */
 
.mainContainer {
    margin: auto;
    width: 450px;
    height: 550px;
    background-color: white;
    display: flex;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.425);
  }
  
.leftBox {
    width: 35%;
    height: 100%;
    background-color: rgb(16, 16, 92);
    color: white;
    margin-left: 25px;
  }
  
.rightBox {
    width: 90%;
    height: 100%;
    background-color: white;
  }
  
#rBox {
    margin: 25px;
    font-weight: 200;
  }
  
img {
    color: white;
    margin: 40% 10% 10% 10%;
    border-radius: 100px;
    width: 100px;
    height: 100px;
  }
  
footer {
      font-weight: 300;
      font-size: small;
      margin-top: 2vh;
      color: rgb(90, 90, 90);
    }
  
.rText {
      font-size: small;
      font-weight: 300;
  }
  
.lText {
    margin: 10px;
    font-size: small;
  }
  
.headings {
    margin: 5px;
  }

  
  /* Code Afterwards */

.hidden {
    display: none !important ;
}

#resumeSkills {
    /* list-style-type: none; */
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

#resumeAddress {
    word-wrap: break-word;
    width: 100%;
}


.image > img {
    object-fit: cover;
}

#resumeLanguage {
    list-style-type: circle;
}

#resumeExperience {
    list-style-type: circle;
}

@media screen and (max-width: 425px) {
    
    h1{
        margin: 10px;
        padding: 15px 0px 30px 0px;
        font-size: 25px;
    }

    fieldset {
        padding: 15px;
    }

    #resPage {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .mainContainer {
        margin: auto;
        width: screen; /* Adjust as per screen size */
        max-width: 800px;
    }

    body, html {
        width: 100%;
    }
}